{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}
    <h2> Inscription </h2>
    {{form_start(registerForm)}}

    {{form_end(registerForm)}}
{% endblock %}
